.emoji-picker {
    position: relative;

    button {
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
        padding: 0 4px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .emoji-panel {
        position: absolute;
        bottom: 40px;
        right: 0;
        background: white;
        border: 1px solif #ccc;
        border-radius: 12px;
        padding: 10px;
        width: 220px;
        height: 160px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 6px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        z-index: 20;

        span {
            cursor: pointer;
            font-size: 20px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}