@use "variables" as *;

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: $light-gray;
}
button {
    cursor: pointer;
}