@use "variables" as *;

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text);
}
button {
    cursor: pointer;
}